.header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    text-align: center;
}

.logo img{
    width: 20%;
    text-align: center;
}
.menu{
    display: inline;
}
a.enllas{
    padding: 1%;
}
a.enllas:link{
    color: black;
    text-decoration: none;
}
a.enllas:visited{
    color: black;
}
a.enllas:hover {
    color: #7DCCAC;
    background-color: black;
}
.info {
    padding: 1%;
}

div.resepta{
    border-color: black;
    margin: auto;
}
